.ticket {
  font-family: monospace;
  background-color: #fff;
  border: 2px dashed #333;
  padding: 20px;
  width: 340px;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  font-weight: bold;
}

.titulo-iva {
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.linea-iva {
  display: flex;
  justify-content: space-between;
  padding: 2px 0;
}

.tipo-iva {
  color: #333;
}

#desglose, #totales {
  text-align: right;
  font-weight: bold;
}

.linea-ticket {
  display: grid;
  grid-template-columns: 1fr 0.3fr 1fr 0.3fr;
  gap: 10px;
  padding: 2px 0;
  width: 100%;
}

.linea-ticket span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.linea-ticket span:last-child {
  text-align: right;
}
